$fondo: red;

$alturaNavAside: 250px;
$alturaInicio576: 800px;
$alturaInicio851: 900px;
$alturaInicio1111: 500px;
$alturaAlonso576: 950px;
$alturaAlonso851: 850px;
$alturaAlonso1111: 1050px;
$alturaCuestionario576: 1400px;
$alturaCuestionario851: 1400px;
$alturaCuestionario1111: 1400px;

// PILOTOS
$colorpiloto: yellow;
$fuentePilotos: blankspace-sketch , sans-serif;
$gapPilotos:2px;
$borderPilotos: 2px solid red;
$borderImgPilotos: 2px solid red;
$tipoCirculo: circle;
$fontListaPiloto:hiromisake , sans-serif;

// MAIN FIXED
$margintopmain: calc(99px + 50px);