$fondo: red;

// PILOTOS
$colorpiloto: yellow;
$fuentePilotos: blankspace-sketch , sans-serif;
$gapPilotos:2px;
$borderPilotos: 2px solid red;
$borderImgPilotos: 2px solid red;
$tipoCirculo: circle;
$fontListaPiloto:hiromisake , sans-serif;

// MAIN FIXED
$margintopmain: calc(99px + 50px);