.navLista{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: red;
    border: grey solid 3px;
    height: 250px;
    // width: auto;
    padding: 6px;
    .itemNav{
        font-family: greekfreak , sans-serif ;
        font-size: 18px;
        height: 40px;
        width: 130px;
        border: 2px solid black;
        padding: 9px;
        text-align: center;
        div{
            padding: 200px;
            border: 25px;
        }
        a{
            text-decoration: none;
            color: #fff;
            &:hover{
                color: black;
                text-shadow: 1px 1px 3px black;
            }
        }
        &:hover{
            background-color: green;
        }    
    }
}

@media screen and (min-width: 576px){
    
    .navLista{
        height: 60px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        // width: 100%;
        height: auto;
        padding: 5px;
        .itemNav{
            height: 40px;
            width: 130px;
            padding: 9px;
            text-align: center;
        }
    }
}

@media screen and (min-width:1111px){
    
    .navLista{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        padding: 5px;

        height: 50px;
        // width: auto;
        position: fixed;
        top: 99px;
    }
}