// INICIO

// mobile-responsive

.asideInicio {
    background-color: aqua;
    height: 250px; // altura igual a Nav hasta 576px
    // width: auto;
    background-image: url(../multimedia/inicio/2inicioaside.JPG);
    background-repeat: repeat-y;
    background-size: contain;
    background-position: top;
}

// opitmización a dispositivos >tablet

@media screen and (min-width:576px) and (max-width:1110px){
    .asideInicio{
    height: 800px;
    }
}


// optimización 1200px y panorámica

@media screen and (min-width: 1111px){
    .asideInicio{
    margin-top: calc(99px + 50px);
    height: 500px;
    }
}