// mobile responsive

.mainInicio{
    height: 400px;
    // width: auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4 , 1fr);
    background-color: black;
    .principal{
        border: 2px solid yellow;
        background-color: blue;
        font-family: hiromisake , sans-serif;
        font-size: 20px;
        text-align: center;
        padding: 25px;
        &:hover{
            background-size: 120%;
            transition: 1s;
        }
    }
    .im1{
        grid-column: 1/2;
        grid-row: 1/2;
        background-image: url(../multimedia/inicio/3iniciopilotos.jpg);
        background-position: center;
        background-size: cover;
    }        
    .im2{
        grid-column: 1/2;
        grid-row: 2/3;
        background-image: url(../multimedia/inicio/4inicioalonso.jpg);
        background-position: center;
        background-size: cover;
    }        
    .im3{
        grid-column: 1/2;
        grid-row: 3/4;
        background-image: url(../multimedia/inicio/5iniciocampeones.jpg);
        background-position: center;
        background-size: cover;
    }        
    .im4{
        grid-column: 1/2;
        grid-row: 4/5;
        background-image: url(../multimedia/inicio/6iniciocuestionario.jpg);
        background-position: center;
        background-size: cover;
    }
    a{
        text-decoration: none;
        padding: 1px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.425);
        &:hover{
            color:yellow;
        }
    }
}

.h2titulo{
    /* se uso también en titulo de las páginas */
    font-family: fasterstroker , sans-serif;
    font-size: 20px;
    padding: 20px; 
}

// encierra predeterminado 480px

@media screen and (min-width: 400px) and (max-width: 550px ){
    .mainInicio{
        height: 750px;
        .principal{
            padding: 75px;
         }
    }
}

// encierra resolución 600px

@media screen and (min-width: 551px) and (max-width:850px){
    .mainInicio{
        height: 800px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4 , 1fr);
        padding: 20px;
        background-color: rgb(3, 3, 3);
        gap: 5px;
        .principal{
            font-size: 23px;
            text-align: center;
            padding: 75px;
        }
    }
}


// optimización encierra resolución 1000px

@media screen and (min-width: 851px) and (max-width:1110px){
    .mainInicio{
        height: 900px;
        display: grid;
        grid-template-columns: 1fr 600px 1fr;
        grid-template-rows: repeat(4 , 1fr);
        padding: 20px;
        background-color: rgb(3, 3, 3);
        gap: 5px;
        .principal{
            font-size: 23px;
            text-align: center;
            padding: 75px;
        }
        .im1{
            grid-column: 2/3;
            grid-row: 1/2;
        }    
        .im2{
            grid-column: 2/3;
            grid-row: 2/3;
        }    
        .im3{
            grid-column: 2/3;
            grid-row: 3/4;
        }    
        .im4{
            grid-column: 2/3;
            grid-row: 4/5;
        }
    }
}

// optimización final encierra 1200px y panorámicas 

@media screen and (min-width:1111px){
    .mainInicio{
        height: 500px;
        margin-top: calc(99px + 50px);
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(2 , 1fr);
        gap: 20px;
        padding: 30px;
        .principal{
            font-size: 30px;
            text-align: center;
            padding: 80px;
        }
        .im1{
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .im2{
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .im3{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .im4{
            grid-column: 2/3;
            grid-row: 2/3;
        }
    }
}

