// mobile responsive

// INICIO
.mainInicio{
    height: 400px;
    // width: auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4 , 1fr);
    background-color: black;
    .principal{
        border: 2px solid yellow;
        background-color: blue;
        font-family: hiromisake , sans-serif;
        font-size: 20px;
        text-align: center;
        padding: 25px;
        &:hover{
            background-size: 120%;
            transition: 1s;
        }
    }
    .im1{
        grid-column: 1/2;
        grid-row: 1/2;
        background-image: url(../multimedia/inicio/3iniciopilotos.jpg);
        background-position: center;
        background-size: cover;
    }        
    .im2{
        grid-column: 1/2;
        grid-row: 2/3;
        background-image: url(../multimedia/inicio/4inicioalonso.jpg);
        background-position: center;
        background-size: cover;
    }        
    .im3{
        grid-column: 1/2;
        grid-row: 3/4;
        background-image: url(../multimedia/inicio/5iniciocampeones.jpg);
        background-position: center;
        background-size: cover;
    }        
    .im4{
        grid-column: 1/2;
        grid-row: 4/5;
        background-image: url(../multimedia/inicio/6iniciocuestionario.jpg);
        background-position: center;
        background-size: cover;
    }
    a{
        text-decoration: none;
        padding: 1px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.425);
        &:hover{
            color:yellow;
        }
    }
}

.h2titulo{
    /* se uso también en titulo de las páginas */
    font-family: fasterstroker , sans-serif;
    font-size: 20px;
    padding: 20px; 
}

// PILOTOS
.mainPilotos{
    height: 5500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px repeat(20 , 1fr);
    // background-color: hsl(120, 90%, 20%);
    gap: 8px;
    .p0{
        grid-column: 1/2;
        grid-row: 1/2;
    }    
    .p1{
        grid-column: 1/2;
        grid-row: 2/3;
    }    
    .p2{
        grid-column: 1/2;
        grid-row: 3/4;    
    }    
    .p3{
        grid-column: 1/2;
        grid-row: 4/5;
    }    
    .p4{
        grid-column: 1/2;
        grid-row: 5/6;    
    }    
    .p5{
        grid-column: 1/2;
        grid-row: 6/7;
    }    
    .p6{
        grid-column: 1/2;
        grid-row: 7/8;    
    }    
    .p7{
        grid-column: 1/2;
        grid-row: 8/9;
    }    
    .p8{
        grid-column: 1/2;
        grid-row: 9/10;    
    }    
    .p9{
        grid-column: 1/2;
        grid-row: 10/11;
    }    
    .p10{
        grid-column: 1/2;
        grid-row: 11/12;    
    }    
    .p11{
        grid-column: 1/2;
        grid-row: 12/13 ;
    }    
    .p12{
        grid-column: 1/2;
        grid-row: 13/14;    
    }    
    .p13{
        grid-column: 1/2;
        grid-row: 14/15;
    }    
    .p14{
        grid-column: 1/2;
        grid-row: 15/16;    
    }    
    .p15{
        grid-column: 1/2;
        grid-row: 16/17;
    }    
    .p16{
        grid-column: 1/2;
        grid-row: 17/18;    
    }    
    .p17{
        grid-column: 1/2;
        grid-row: 18/19;
    }    
    .p18{
        grid-column: 1/2;
        grid-row: 19/20;    
    }    
    .p19{
        grid-column: 1/2;
        grid-row: 20/21;
    }    
    .p20{
        grid-column: 1/2;
        grid-row: 21/22;
    }

    // .pilotoIzquierda{
    //     display: flex;
    //     flex-direction: row;
    //     flex-wrap: nowrap;
    //     justify-content: center;
    // }
    
    // .pilotoDerecha{
    //     display: flex;
    //     flex-direction: row-reverse;
    //     flex-wrap: nowrap;
    //     justify-content: center;
    // }
    
    // .perfil{
    //     margin: 6px;
    //     padding: 3px;
    //     border: red solid 3px;
    //     height: 150px;
    //     width: auto;
    // }
    
    // .listapiloto{
    //     font-family: hiromisake , sans-serif;
    //     margin-left: 25px;
    //     padding-top: 9px;
    //     padding-left: 8px;
    //     list-style-type:circle;
    //     color: yellow;
    // }
    
    // .tituloPilotoIzquierda{
    //     border: 2px solid red;
    //     padding: 6px;
    //     margin-left: 25px;
    // }
    
    // .tituloPilotoDerecha{
    //     border: 2px solid red;
    //     padding: 6px;
    //     margin-left: 110px;
    // }
    
    // .nombrePiloto{
    //     font-family: blankspace-sketch , sans-serif;
    //     padding-left: 5px;
    //     list-style-type:circle;
    //     color: yellow;
    // }
} 

    .h2titulo{
        /* se uso también en titulo de las páginas */
        font-family: fasterstroker , sans-serif;
        font-size: 20px;
        padding: 20px; 
    }
        





// #fotoricciardo{
//     esta foto es distinta a las otras, convendría buscar alguna mejor por su resolución
//     height: 180px;
//     width: auto;


// encierra predeterminado 480px

// INICIO
@media screen and (min-width: 400px) and (max-width: 550px ){
    .mainInicio{
        height: 750px;
        .principal{
            padding: 75px;
         }
    }
}

// encierra resolución 600px

// INICIO
@media screen and (min-width: 551px) and (max-width:850px){
    .mainInicio{
        height: 800px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4 , 1fr);
        padding: 20px;
        background-color: rgb(3, 3, 3);
        gap: 5px;
        .principal{
            font-size: 23px;
            text-align: center;
            padding: 75px;
        }
    }
}


// optimización encierra resolución 1000px

// INICIO
@media screen and (min-width: 851px) and (max-width:1110px){
    .mainInicio{
        height: 900px;
        display: grid;
        grid-template-columns: 1fr 600px 1fr;
        grid-template-rows: repeat(4 , 1fr);
        padding: 20px;
        background-color: rgb(3, 3, 3);
        gap: 5px;
        .principal{
            font-size: 23px;
            text-align: center;
            padding: 75px;
        }
        .im1{
            grid-column: 2/3;
            grid-row: 1/2;
        }    
        .im2{
            grid-column: 2/3;
            grid-row: 2/3;
        }    
        .im3{
            grid-column: 2/3;
            grid-row: 3/4;
        }    
        .im4{
            grid-column: 2/3;
            grid-row: 4/5;
        }
    }
}

// optimización final encierra 1200px y panorámicas 

// INICIO
@media screen and (min-width:1111px){
    .mainInicio{
        height: 500px;
        margin-top: calc(99px + 50px);
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(2 , 1fr);
        gap: 20px;
        padding: 30px;
        .principal{
            font-size: 30px;
            text-align: center;
            padding: 80px;
        }
        .im1{
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .im2{
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .im3{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .im4{
            grid-column: 2/3;
            grid-row: 2/3;
        }
    }
}

