@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* declaración de fuentes descargadas */
@font-face {
  font-family: fasterstroker;
  src: url(../fonts/fasterstroker.otf);
}
@font-face {
  font-family: greekfreak;
  src: url(../fonts/greekfreak.ttf);
}
@font-face {
  font-family: hiromisake;
  src: url(../fonts/hiromisake.ttf);
}
@font-face {
  font-family: blankspace-solid;
  src: url(../fonts/hiromisake.ttf);
}
@font-face {
  font-family: blankspace-sketch;
  src: url(../fonts/hiromisake.ttf);
}
.encabezado {
  height: 180px;
  width: 100%;
  background-color: red;
  border: grey solid 3px;
  text-align: center;
  padding: 0;
  display: grid;
  grid-template-columns: 80px 1fr 1fr;
  grid-template-rows: 90px 1fr;
  gap: 5px;
}
.encabezado .logoF1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: url(../multimedia/inicio/1logof1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 15px;
}
.encabezado .redes {
  grid-column: 3/5;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
}
.encabezado .redes i {
  color: black;
  letter-spacing: 10px;
  font-size: 30px;
  grid-column: 5/5;
  grid-row: 1/2;
}
.encabezado .redes i:hover {
  color: white;
}
.encabezado h1 {
  font-family: fasterstroker, sans-serif;
  font-size: 28px;
  padding: 12px;
  margin: 5px;
  border: 5px solid black;
  border-radius: 35px;
  grid-column: 1/4;
  grid-row-start: 2;
}

@media screen and (min-width: 400px) and (max-width: 550px) {
  .encabezado .redes i {
    letter-spacing: 16px;
    font-size: 40px;
  }
  .encabezado h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 551px) and (max-width: 850px) {
  .encabezado {
    display: grid;
    grid-template-columns: 80px 1fr 1fr 100px;
    grid-template-rows: 90px 1fr;
    gap: 5px;
  }
  .encabezado .redes {
    grid-column: 4/5;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
  }
  .encabezado .redes i {
    letter-spacing: 10px;
    font-size: 38px;
  }
  .encabezado h1 {
    font-size: 33px;
    padding: 10px;
    margin: 5px;
    border-radius: 35px;
    grid-column: 2/4;
    grid-row-start: 2;
  }
}
@media screen and (min-width: 851px) and (max-width: 1110px) {
  .encabezado {
    display: grid;
    grid-template-columns: 80px 1fr 1fr 100px;
    grid-template-rows: 90px 1fr;
    gap: 5px;
  }
  .encabezado .redes {
    grid-column: 4/5;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
  }
  .encabezado .redes i {
    letter-spacing: 10px;
    font-size: 38px;
  }
  .encabezado h1 {
    font-size: 33px;
    padding: 10px;
    margin: 5px;
    border-radius: 35px;
    grid-column: 2/4;
    grid-row-start: 2;
  }
}
@media screen and (min-width: 1111px) {
  .encabezado {
    height: 99px;
    display: grid;
    grid-template-columns: 80px 1fr 550px 1fr;
    grid-template-rows: 85px 1fr;
    gap: 8px;
    position: fixed;
    top: 0px;
  }
  .encabezado .logoF1 {
    border-radius: 20px;
  }
  .encabezado .redes {
    grid-column: 5/6;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  .encabezado .redes i {
    letter-spacing: 15px;
    font-size: 40px;
  }
  .encabezado h1 {
    font-size: 26px;
    padding: 13px;
    margin-top: 20px;
    border-radius: 40px;
    grid-column: 3/4;
    grid-row: 1/3;
  }
}
.navLista {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-color: red;
  border: grey solid 3px;
  height: 250px;
  padding: 6px;
}
.navLista .itemNav {
  font-family: greekfreak, sans-serif;
  font-size: 18px;
  height: 40px;
  width: 130px;
  border: 2px solid black;
  padding: 9px;
  text-align: center;
}
.navLista .itemNav div {
  padding: 200px;
  border: 25px;
}
.navLista .itemNav a {
  text-decoration: none;
  color: #fff;
}
.navLista .itemNav a:hover {
  color: black;
  text-shadow: 1px 1px 3px black;
}
.navLista .itemNav:hover {
  background-color: green;
}

@media screen and (min-width: 576px) {
  .navLista {
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: auto;
    padding: 5px;
  }
  .navLista .itemNav {
    height: 40px;
    width: 130px;
    padding: 9px;
    text-align: center;
  }
}
@media screen and (min-width: 1111px) {
  .navLista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 5px;
    height: 50px;
    position: fixed;
    top: 99px;
  }
}
.asideInicio {
  background-color: aqua;
  height: 250px;
  background-image: url(../multimedia/inicio/2inicioaside.JPG);
  background-repeat: repeat-y;
  background-size: contain;
  background-position: top;
}

.asidePilotos {
  background-color: aqua;
  height: 250px;
  background-image: url(../multimedia/pilotos/asidepilotos.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: top;
}

.asideAlonso {
  background-color: aqua;
  height: 250px;
  background-image: url(../multimedia/alonso/1alonso.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: top;
}

.asideCampeones {
  height: 250px;
  background-image: url(../multimedia/campeones/1vettel.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: top;
}

.asideCuestionario {
  height: 250px;
  background-image: url(../multimedia/cuestionario/3cuestionario.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 576px) and (max-width: 850px) {
  .asideInicio {
    height: 800px;
  }
  .asidePilotos {
    height: 100px;
    background-image: url(../multimedia/pilotos/asidepilotos2.jpg);
    background-repeat: repeat-y;
    background-size: contain;
    background-position: top;
  }
  .asideAlonso {
    height: 950px;
  }
  .asideCampeones {
    height: 900px;
    background-image: url(../multimedia/campeones/5ferrari.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
  }
  .asideCuestionario {
    height: 1400px;
    background-image: url(../multimedia/cuestionario/2cuestionario.jpg);
    background-repeat: repeat-y;
    background-size: contain;
    background-position: top;
  }
}
@media screen and (min-width: 851px) and (max-width: 1110px) {
  .asideInicio {
    height: 900px;
  }
  .asidePilotos {
    height: 100px;
    background-image: url(../multimedia/pilotos/asidepilotos2.jpg);
    background-repeat: repeat-y;
    background-size: contain;
    background-position: top;
  }
  .asideAlonso {
    height: 850px;
    background-size: cover;
    background-position: top;
  }
  .asideCampeones {
    height: 870px;
    background-image: url(../multimedia/campeones/5ferrari.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
  }
  .asideCuestionario {
    height: 1400px;
    background-image: url(../multimedia/cuestionario/2cuestionario.jpg);
    background-repeat: repeat-y;
    background-size: contain;
    background-position: top;
  }
}
@media screen and (min-width: 1111px) {
  .asideInicio {
    margin-top: 149px;
    height: 500px;
  }
  .asidePilotos {
    height: 600px;
    background-image: url(../multimedia/pilotos/asidepilotos2.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: top;
  }
  .asideAlonso {
    margin-top: 149px;
    height: 1050px;
  }
  .asideCampeones {
    margin-top: 149px;
    height: 800px;
    background-image: url(../multimedia/campeones/5ferrari.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
  }
  .asideCuestionario {
    margin-top: 149px;
    height: 1400px;
    background-image: url(../multimedia/cuestionario/2cuestionario.jpg);
    background-repeat: repeat-y;
    background-size: contain;
    background-position: top;
  }
}
.mainInicio {
  height: 400px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  background-color: black;
}
.mainInicio .principal {
  border: 2px solid yellow;
  background-color: blue;
  font-family: hiromisake, sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 25px;
}
.mainInicio .principal:hover {
  background-size: 120%;
  transition: 1s;
}
.mainInicio .im1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: url(../multimedia/inicio/3iniciopilotos.jpg);
  background-position: center;
  background-size: cover;
}
.mainInicio .im2 {
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: url(../multimedia/inicio/4inicioalonso.jpg);
  background-position: center;
  background-size: cover;
}
.mainInicio .im3 {
  grid-column: 1/2;
  grid-row: 3/4;
  background-image: url(../multimedia/inicio/5iniciocampeones.jpg);
  background-position: center;
  background-size: cover;
}
.mainInicio .im4 {
  grid-column: 1/2;
  grid-row: 4/5;
  background-image: url(../multimedia/inicio/6iniciocuestionario.jpg);
  background-position: center;
  background-size: cover;
}
.mainInicio a {
  text-decoration: none;
  padding: 1px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.425);
}
.mainInicio a:hover {
  color: yellow;
}

.h2titulo {
  /* se uso también en titulo de las páginas */
  font-family: fasterstroker, sans-serif;
  font-size: 20px;
  padding: 20px;
}

.mainPilotos {
  background-color: hsl(120, 90%, 20%);
  padding: 0;
}
.mainPilotos .cuadrado {
  border: grey 2px solid;
}
.mainPilotos .cuadrado .nombre {
  margin-top: 3px;
  border: 2px red solid;
  font-family: blankspace-sketch, sans-serif;
  font-size: 21px;
}
.mainPilotos .cuadrado .fotoPiloto {
  border: 4px red solid;
  padding: 3px;
  margin: 3px;
  height: 150px;
  width: auto;
}
.mainPilotos .cuadrado .lista {
  color: yellow;
  margin-top: 45px;
  list-style-type: circle;
  font-family: blankspace-sketch, sans-serif;
  font-size: 17px;
}

.mainAlonso {
  height: 950px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 310px 130px 230px 1fr;
  background-color: yellow;
  gap: 2px;
}
.mainAlonso .al11 {
  grid-column: 1/2;
  grid-row: 1/2;
  /* acá se encuentra el h2 */
}
.mainAlonso .alonsodesc {
  grid-column: 1/2;
  grid-row: 2/3;
  font-family: hiromisake, sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: blue;
  text-align: justify;
  border: blue solid 2px;
  margin: 3px;
  padding: 10px;
  overflow: auto;
}
.mainAlonso .alFotos {
  grid-column: 1/2;
  grid-row: 3/4;
  /* acá se encuentran las imágenes */
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.mainAlonso .alFotos .alonso1 {
  width: auto;
  height: 120px;
  margin: 2px;
  padding: 3px;
  border: solid 3px black;
}
.mainAlonso .lista {
  grid-column: 1/2;
  grid-row: 4/5;
  margin: 7px;
  text-align: left;
  padding: 3px;
  border: grey 2px solid;
  list-style-type: circle;
  font-family: blankspace-sketch, sans-serif;
  font-size: 17px;
}
.mainAlonso .lista .tituloLista {
  text-decoration: underline;
}
.mainAlonso .lista .datoslista {
  text-align: right;
  margin-left: 5px;
}
.mainAlonso #videoAlonso {
  grid-column: 1/2;
  grid-row: 5/6;
  padding: 8px;
}

.h2titulo {
  /* se uso también en titulo de las páginas */
  font-family: fasterstroker, sans-serif;
  font-size: 20px;
  padding: 20px;
  text-align: left;
}

.mainCampeones {
  background-color: rgba(18, 77, 97, 0.3);
}

.mainCuestionario {
  height: 1400px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr;
  gap: 6px;
  background-color: yellow;
}
.mainCuestionario .ubiForm1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.mainCuestionario .ubiFormDD {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 90px) 730px 150px 1fr;
  gap: 5px;
}
.mainCuestionario .ubiFormDD .formulario {
  font-family: blankspace-sketch, sans-serif;
  font-size: 18px;
  color: black;
  padding: 9px;
}
.mainCuestionario .ubiFormDD .blancos {
  background-color: orange;
  padding: 2px;
  width: 200px;
  font-family: blankspace-solid, sans-serif;
  text-align: center;
}
.mainCuestionario .ubiFormDD .ubiForm2 {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.mainCuestionario .ubiFormDD .ubiForm3 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.mainCuestionario .ubiFormDD .ubiForm4 {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.mainCuestionario .ubiFormDD .ubiForm5 {
  grid-column: 1/2;
  grid-row: 4/5;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  border: grey 1px solid;
  margin: 5px;
}
.mainCuestionario .ubiFormDD .ubiForm5 .field {
  color: green;
  font-size: 18px;
  padding: 0 0 0 25px;
  margin-left: 0px;
}
.mainCuestionario .ubiFormDD .ubiForm6 {
  grid-column: 1/2;
  grid-row: 5/6;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.mainCuestionario .ubiFormDD .ubiForm6 .comentarios {
  margin-top: 0;
  height: 80px;
  width: auto;
  text-align: left;
}
.mainCuestionario .ubiFormDD .ubiForm7 {
  grid-column: 1/2;
  grid-row: 6/7;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

@media screen and (min-width: 400px) and (max-width: 575px) {
  .mainInicio {
    height: 750px;
  }
  .mainInicio .principal {
    padding: 75px;
  }
  .mainPilotos .cuadrado .fotoPiloto {
    height: 170px;
    width: auto;
  }
  .mainPilotos .cuadrado .lista {
    font-size: 19px;
  }
  .mainAlonso {
    height: 950px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 290px 130px 210px 1fr;
  }
  .mainAlonso .alonsodesc {
    margin: 18px;
    padding: 19px;
    overflow: auto;
  }
  .mainAlonso .lista {
    margin-left: 20px;
    margin-right: 20px;
  }
  .mainAlonso #videoAlonso {
    padding: 10px;
    margin: 30px;
  }
  .ubiForm6 {
    grid-column: 1/2;
    grid-row: 5/6;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .ubiForm6 .comentarios {
    margin-top: 0;
    height: 130px;
    width: auto;
    text-align: left;
  }
  .ubiForm7 {
    grid-column: 1/2;
    grid-row: 6/7;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 8px;
  }
}
@media screen and (min-width: 576px) and (max-width: 850px) {
  .mainInicio {
    height: 800px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
    background-color: rgb(3, 3, 3);
    gap: 5px;
  }
  .mainInicio .principal {
    font-size: 23px;
    text-align: center;
    padding: 75px;
  }
  .h2titulo {
    /* se uso también en titulo de las páginas */
    font-family: fasterstroker, sans-serif;
    font-size: 25px;
    padding: 24px;
  }
  .mainAlonso {
    height: 950px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 250px 190px 230px 1fr;
    background-color: yellow;
    gap: 2px;
  }
  .mainAlonso .alonsodesc {
    margin: 18px;
    padding: 20px;
    overflow: scroll;
  }
  .mainAlonso .alFotos .alonso1 {
    width: auto;
    height: 150px;
  }
  .mainAlonso .lista {
    margin: 15px;
    padding-left: 20px;
  }
  .mainAlonso #videoAlonso {
    margin-left: 78px;
    padding: 8px;
  }
  .mainCuestionario {
    height: 1400px;
  }
  .mainCuestionario .ubiForm6 .comentarios {
    margin-top: 0;
    height: 130px;
    width: auto;
    text-align: left;
  }
  .mainCuestionario .ubiForm7 {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px;
  }
}
@media screen and (min-width: 851px) and (max-width: 1110px) {
  .mainInicio {
    height: 900px;
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
    background-color: rgb(3, 3, 3);
    gap: 5px;
  }
  .mainInicio .principal {
    font-size: 23px;
    text-align: center;
    padding: 75px;
  }
  .mainInicio .im1 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .mainInicio .im2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .mainInicio .im3 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .mainInicio .im4 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .h2titulo {
    /* se uso también en titulo de las páginas */
    font-family: fasterstroker, sans-serif;
    font-size: 25px;
    padding: 24px;
    text-align: left;
  }
  .mainPilotos .cuadrado .fotoPiloto {
    height: 180px;
    width: auto;
  }
  .mainPilotos .cuadrado .lista {
    font-size: 19px;
  }
  .mainAlonso {
    height: 850px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 150px 190px 230px 1fr;
  }
  .mainAlonso .alonsodesc {
    margin: 15px;
    padding: 10px;
    overflow: scroll;
  }
  .mainAlonso .alFotos .alonso1 {
    width: auto;
    height: 180px;
  }
  .mainAlonso .lista {
    margin: 15px;
    font-size: 17px;
  }
  .mainAlonso #videoAlonso {
    margin-left: 70px;
  }
  .mainCuestionario {
    height: 1400px;
  }
  .mainCuestionario .ubiForm6 .comentarios {
    margin-top: 0;
    height: 130px;
    width: auto;
    text-align: left;
  }
  .mainCuestionario .ubiForm7 {
    grid-column: 1/2;
    grid-row: 6/7;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 8px;
  }
}
@media screen and (min-width: 1111px) {
  .mainInicio {
    height: 500px;
    margin-top: 149px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 30px;
  }
  .mainInicio .principal {
    font-size: 30px;
    text-align: center;
    padding: 80px;
  }
  .mainInicio .im1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .mainInicio .im2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .mainInicio .im3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .mainInicio .im4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .h2titulo {
    font-size: 26px;
    padding: 24px;
    text-align: left;
  }
  .mainPilotos {
    margin-top: 149px;
  }
  .mainPilotos .cuadrado .fotoPiloto {
    height: 180px;
    width: auto;
  }
  .mainPilotos .cuadrado .lista {
    font-size: 19px;
  }
  .mainAlonso {
    margin-top: 149px;
    height: 1050px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 320px 340px 1fr;
  }
  .mainAlonso .al11 {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .mainAlonso .alonsodesc {
    font-size: 19px;
    margin: 20px;
    padding: 12px;
    overflow: scroll;
  }
  .mainAlonso .alFotos {
    grid-column: 2/3;
    grid-row: 2/3;
    /* acá se encuentran las imágenes */
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .mainAlonso .alFotos .alonso1 {
    width: auto;
    height: 190px;
    margin: 22px;
  }
  .mainAlonso .lista {
    grid-column: 1/3;
    grid-row: 3/4;
    font-size: 22px;
    margin: 28px;
    padding: 3px;
  }
  .mainAlonso #videoAlonso {
    grid-column: 1/3;
    grid-row: 4/5;
    margin-left: 380px;
    padding: 8px;
    height: auto;
    width: auto;
  }
  .mainCuestionario {
    margin-top: 149px;
    height: 1400px;
  }
  .mainCuestionario .ubiForm6 .comentarios {
    margin-top: 0;
    height: 130px;
    width: 350px;
    text-align: left;
  }
  .mainCuestionario .ubiForm7 {
    grid-column: 1/2;
    grid-row: 6/7;
    display: flex;
    flex-flow: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 4px;
  }
}
.pie {
  padding: 0;
  height: fit-content;
  background-color: grey;
  font-family: blankspace-solid, sans-serif;
  padding: 8px;
  color: black;
}
.pie .map {
  height: auto;
  width: 75%;
}
.pie .epigrafe {
  padding: 5px;
  font-size: 16px;
}
.pie .textoFooter {
  padding: 2px;
  font-size: 17px;
  text-align: left;
}

.contenedorIzquierda {
  padding: 5px;
  border: 2px grey solid;
  font-family: blankspace-sketch, sans-serif;
  display: grid;
  grid-column: 2fr 1fr;
  grid-row: 1fr 3fr;
}
.contenedorIzquierda .nombreIzquierda {
  grid-column: 1/2;
  grid-row: 1/2;
  border: red 2px solid;
  text-align: center;
  padding: 3px;
  margin-top: 2px;
  margin-left: 25px;
}
.contenedorIzquierda .fotoPiloto {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: 10px;
  border: red 2px solid;
  padding: 2px;
}
.contenedorIzquierda .listaPiloto {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 15px;
  list-style-type: circle;
  color: yellow;
  text-align: left;
}
.contenedorIzquierda .listaPiloto .datolista {
  padding: 3px;
}

.contenedorDerecha {
  padding: 5px;
  border: 2px grey solid;
  display: grid;
  grid-column: 1fr 2fr;
  grid-row: 1fr 3fr;
}
.contenedorDerecha .nombreDerecha {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  padding: 3px;
  margin-top: 2px;
  margin-left: 25px;
}
.contenedorDerecha .fotoPiloto {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-right: 10px;
  padding: 2px;
}
.contenedorDerecha .listaPiloto {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 15px;
  margin-left: 25px;
  text-align: left;
}
.contenedorDerecha .listaPiloto .datolista {
  padding: 3px;
}

/*# sourceMappingURL=estilos.css.map */
