@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* declaración de fuentes descargadas */
@font-face {
  font-family: fasterstroker;
  src: url(../fonts/fasterstroker.otf);
}
@font-face {
  font-family: greekfreak;
  src: url(../fonts/greekfreak.ttf);
}
@font-face {
  font-family: hiromisake;
  src: url(../fonts/hiromisake.ttf);
}
@font-face {
  font-family: blankspace-solid;
  src: url(../fonts/hiromisake.ttf);
}
@font-face {
  font-family: blankspace-sketch;
  src: url(../fonts/hiromisake.ttf);
}
.encabezado {
  height: 180px;
  width: 100%;
  background-color: red;
  border: grey solid 3px;
  text-align: center;
  padding: 0;
  display: grid;
  grid-template-columns: 80px 1fr 1fr;
  grid-template-rows: 90px 1fr;
  gap: 5px;
}
.encabezado .logoF1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: url(../multimedia/inicio/1logof1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 15px;
}
.encabezado .redes {
  grid-column: 3/5;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
}
.encabezado .redes i {
  color: black;
  letter-spacing: 10px;
  font-size: 30px;
  grid-column: 5/5;
  grid-row: 1/2;
}
.encabezado .redes i:hover {
  color: white;
}
.encabezado h1 {
  font-family: fasterstroker, sans-serif;
  font-size: 28px;
  padding: 12px;
  margin: 5px;
  border: 5px solid black;
  border-radius: 35px;
  grid-column: 1/4;
  grid-row-start: 2;
}

@media screen and (min-width: 400px) and (max-width: 550px) {
  .encabezado .redes i {
    letter-spacing: 16px;
    font-size: 40px;
  }
  .encabezado h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 551px) and (max-width: 850px) {
  .encabezado {
    display: grid;
    grid-template-columns: 80px 1fr 1fr 100px;
    grid-template-rows: 90px 1fr;
    gap: 5px;
  }
  .encabezado .redes {
    grid-column: 4/5;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
  }
  .encabezado .redes i {
    letter-spacing: 10px;
    font-size: 38px;
  }
  .encabezado h1 {
    font-size: 33px;
    padding: 10px;
    margin: 5px;
    border-radius: 35px;
    grid-column: 2/4;
    grid-row-start: 2;
  }
}
@media screen and (min-width: 851px) and (max-width: 1110px) {
  .encabezado {
    display: grid;
    grid-template-columns: 80px 1fr 1fr 100px;
    grid-template-rows: 90px 1fr;
    gap: 5px;
  }
  .encabezado .redes {
    grid-column: 4/5;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
  }
  .encabezado .redes i {
    letter-spacing: 10px;
    font-size: 38px;
  }
  .encabezado h1 {
    font-size: 33px;
    padding: 10px;
    margin: 5px;
    border-radius: 35px;
    grid-column: 2/4;
    grid-row-start: 2;
  }
}
@media screen and (min-width: 1111px) {
  .encabezado {
    height: 99px;
    display: grid;
    grid-template-columns: 80px 1fr 550px 1fr;
    grid-template-rows: 85px 1fr;
    gap: 8px;
    position: fixed;
    top: 0px;
  }
  .encabezado .logoF1 {
    border-radius: 20px;
  }
  .encabezado .redes {
    grid-column: 5/6;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  .encabezado .redes i {
    letter-spacing: 15px;
    font-size: 40px;
  }
  .encabezado h1 {
    font-size: 26px;
    padding: 13px;
    margin-top: 20px;
    border-radius: 40px;
    grid-column: 3/4;
    grid-row: 1/3;
  }
}
.navLista {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-color: red;
  border: grey solid 3px;
  height: 250px;
  padding: 6px;
}
.navLista .itemNav {
  font-family: greekfreak, sans-serif;
  font-size: 18px;
  height: 40px;
  width: 130px;
  border: 2px solid black;
  padding: 9px;
  text-align: center;
}
.navLista .itemNav div {
  padding: 200px;
  border: 25px;
}
.navLista .itemNav a {
  text-decoration: none;
  color: #fff;
}
.navLista .itemNav a:hover {
  color: black;
  text-shadow: 1px 1px 3px black;
}
.navLista .itemNav:hover {
  background-color: green;
}

@media screen and (min-width: 576px) {
  .navLista {
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: auto;
    padding: 5px;
  }
  .navLista .itemNav {
    height: 40px;
    width: 130px;
    padding: 9px;
    text-align: center;
  }
}
@media screen and (min-width: 1111px) {
  .navLista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 5px;
    height: 50px;
    position: fixed;
    top: 99px;
  }
}
.asideInicio {
  background-color: aqua;
  height: 250px;
  background-image: url(../multimedia/inicio/2inicioaside.JPG);
  background-repeat: repeat-y;
  background-size: contain;
  background-position: top;
}

@media screen and (min-width: 576px) and (max-width: 850px) {
  .asideInicio {
    height: 800px;
  }
}
@media screen and (min-width: 851px) and (max-width: 1110px) {
  .asideInicio {
    height: 900px;
  }
}
@media screen and (min-width: 1111px) {
  .asideInicio {
    margin-top: 149px;
    height: 500px;
  }
}
.mainInicio {
  height: 400px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  background-color: black;
}
.mainInicio .principal {
  border: 2px solid yellow;
  background-color: blue;
  font-family: hiromisake, sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 25px;
}
.mainInicio .principal:hover {
  background-size: 120%;
  transition: 1s;
}
.mainInicio .im1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: url(../multimedia/inicio/3iniciopilotos.jpg);
  background-position: center;
  background-size: cover;
}
.mainInicio .im2 {
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: url(../multimedia/inicio/4inicioalonso.jpg);
  background-position: center;
  background-size: cover;
}
.mainInicio .im3 {
  grid-column: 1/2;
  grid-row: 3/4;
  background-image: url(../multimedia/inicio/5iniciocampeones.jpg);
  background-position: center;
  background-size: cover;
}
.mainInicio .im4 {
  grid-column: 1/2;
  grid-row: 4/5;
  background-image: url(../multimedia/inicio/6iniciocuestionario.jpg);
  background-position: center;
  background-size: cover;
}
.mainInicio a {
  text-decoration: none;
  padding: 1px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.425);
}
.mainInicio a:hover {
  color: yellow;
}

.h2titulo {
  /* se uso también en titulo de las páginas */
  font-family: fasterstroker, sans-serif;
  font-size: 20px;
  padding: 20px;
}

@media screen and (min-width: 400px) and (max-width: 550px) {
  .mainInicio {
    height: 750px;
  }
  .mainInicio .principal {
    padding: 75px;
  }
}
@media screen and (min-width: 551px) and (max-width: 850px) {
  .mainInicio {
    height: 800px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
    background-color: rgb(3, 3, 3);
    gap: 5px;
  }
  .mainInicio .principal {
    font-size: 23px;
    text-align: center;
    padding: 75px;
  }
}
@media screen and (min-width: 851px) and (max-width: 1110px) {
  .mainInicio {
    height: 900px;
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
    background-color: rgb(3, 3, 3);
    gap: 5px;
  }
  .mainInicio .principal {
    font-size: 23px;
    text-align: center;
    padding: 75px;
  }
  .mainInicio .im1 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .mainInicio .im2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .mainInicio .im3 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .mainInicio .im4 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}
@media screen and (min-width: 1111px) {
  .mainInicio {
    height: 500px;
    margin-top: 149px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 30px;
  }
  .mainInicio .principal {
    font-size: 30px;
    text-align: center;
    padding: 80px;
  }
  .mainInicio .im1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .mainInicio .im2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .mainInicio .im3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .mainInicio .im4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
footer {
  height: 300px;
  height: auto;
  background-color: grey;
  margin: 0;
}
footer .pie {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

/*# sourceMappingURL=estilos.css.map */
