$colores: (
    colorPrincipal:red,
    colorInicio: hsl(120, 90%, 20%),
    colorPilotos: hsl(120, 90%, 20%),
    colorAlonso: hsl(120, 90%, 34%),
    colorCampeones:hsl(120, 90%, 20%),
    colorCuestionario: hsl(120, 90%, 34%),
    colorAside: aqua,
    colorMainInicio: blue,
);

$fuentes: ( 
    fuenteFaster: fasterstroker ,
    fuenteGreek: greekfreak ,
    fuenteHiro: hiromisake ,
    fuenteBlankSolid: blankspace-solid ,
    fuenteBlankSketch: blankspace-sketch ,
);
