$alturaNavAside: 250px;
$alturaInicio576: 800px;
$alturaInicio851: 900px;
$alturaInicio1111: 500px;
$alturaPilotos576: auto;
$alturaPilotos851: auto;
$alturaPilotos1111: auto;
$alturaAlonso576: 950px;
$alturaAlonso851: 850px;
$alturaAlonso1111: 1050px;
$alturaCuestionario576: 1400px;
$alturaCuestionario851: 1400px;
$alturaCuestionario1111: 1400px;

// MAIN FIXED
$margintopmain: calc(99px + 50px);