// mobile responsive

.navLista{
    margin: 0;
    @include flexbox (flex , column , wrap , space-evenly , center , center);
    background-color: red;
    border: grey solid 3px;
    height: $alturaNavAside;
    // width: auto;
    padding: 0px;
    z-index: 2;
    a{
        border: 2px solid black;
        text-align: center;
        // padding: 200px;
        // border: 25px;
        color: #fff;
        text-decoration: none;
        font-family: map-get($fuentes, fuenteGreek ) , sans-serif ;
        font-size: 18px;
        height: 40px;
        width: 130px;
        padding: 10px;
        &:hover{
            color: black;
            text-shadow: 1px 1px 3px black;        
            background-color: green;
        }
    }
}

// optimización a dispositivos >tablet

@media screen and (min-width: 576px){
    
    .navLista{
        height: 60px;
        @include flexbox (flex , row , nowrap , space-evenly , center , center);
        // width: 100%;
        height: auto;
        padding: 5px;
        .itemNav{
            height: 40px;
            width: 130px;
            padding: 9px;
            text-align: center;
        }
    }
}


// optimización 1200px y panorámica

@media screen and (min-width:1111px){    
    .navLista{
        @include flexbox (flex , row , wrap , space-evenly , center , space-evenly);
        padding: 5px;
        height: 50px;
        // width: auto;
        position: fixed;
        top: 99px;
    }
}