// INICIO

// mobile-responsive

// altura igual a Nav hasta 576px

// INICIO
.asideInicio {
    background-image: url(../../multimedia/inicio/2inicioaside.webp);
    @include asideGeneral (map-get($colores, colorAside ) , $alturaNavAside , repeat-y , contain , top);
}


// PILOTOS
.asidePilotos{
    background-image: url(../../multimedia/pilotos/asidepilotos.webp);
    @include asideGeneral (map-get($colores, colorAside ) , $alturaNavAside , repeat-y , cover, top);
}


// ALONSO
.asideAlonso{
    background-image: url(../../multimedia/alonso/1alonso.webp);
    @include asideGeneral (map-get($colores, colorAside ) , $alturaNavAside , repeat-y , cover, top);
}


// CAMPEONES
.asideCampeones{
    background-image: url(../../multimedia/campeones/1vettel.webp);
    @include asideGeneral (map-get($colores, colorAside ) , $alturaNavAside , repeat-y , cover, top);
}


// CUESTIONARIO
.asideCuestionario{
    background-image: url(../../multimedia/cuestionario/3cuestionario.webp);
    @include asideGeneral (map-get($colores, colorAside ) , $alturaNavAside , repeat-y , cover, center);
}


// opitmización a dispositivos >tablet

@media screen and (min-width:576px) and (max-width:850px){
    
    // INICIO
    .asideInicio{
    height: $alturaInicio576;
    }

    // PILOTOS
    .asidePilotos{
        background-image: url(../../multimedia/pilotos/asidepilotos2.webp);
        @include asideGeneral (map-get($colores, colorAside ) , $alturaPilotos576  , repeat-y , contain, top);
    }

    // ALONSO
    .asideAlonso{
        height: $alturaAlonso576;
    }

    // CAMPEONES
    .asideCampeones{
        background-image: url(../../multimedia/campeones/5ferrari.webp);
        @include asideGeneral (map-get($colores, colorAside ) , 900px  , repeat-y , cover, center);
    }

    // CUESTIONARIO
    .asideCuestionario{
        background-image: url(../../multimedia/cuestionario/2cuestionario.webp);
        @include asideGeneral (map-get($colores, colorAside ) , $alturaCuestionario576 , repeat-y , contain, top);
    }
}

@media screen and (min-width:851px) and (max-width:1110px){
    
    // INICIO
    .asideInicio{
    height: $alturaInicio851;
    }

    // PILOTOS
    .asidePilotos{
        background-image: url(../../multimedia/pilotos/asidepilotos2.webp);
        @include asideGeneral (map-get($colores, colorAside ) , $alturaPilotos851  , repeat-y , contain, top);
    }

    // ALONSO
    .asideAlonso{
        height: $alturaAlonso851;
        background-size: cover;
        background-position: top;
    }

    // CAMPEONES
    .asideCampeones{
        background-image: url(../../multimedia/campeones/5ferrari.webp);
        @include asideGeneral (map-get($colores, colorAside ) , 870px , repeat-y , cover, center);
    }

    // CUESTIONARIO
    .asideCuestionario{
        background-image: url(../../multimedia/cuestionario/2cuestionario.webp);
        @include asideGeneral (map-get($colores, colorAside ) , $alturaCuestionario851 , repeat-y , contain, top);
    }
}


// optimización 1200px y panorámica

@media screen and (min-width: 1111px){
    
    // INICIO
    .asideInicio{
    margin-top: calc(99px + 50px);
    height: $alturaInicio1111;
    }

    // PILOTOS
    .asidePilotos{
        margin-top: $margintopmain;
        background-image:  url(../../multimedia/pilotos/asidepilotos2.webp);
        @include asideGeneral (map-get($colores, colorAside ) , $alturaPilotos1111 , repeat-y , contain , top);
    }

    // ALONSO
    .asideAlonso{
        margin-top: $margintopmain;
        height: $alturaAlonso1111;
    }

    // CAMPEONES
    .asideCampeones{
        margin-top: $margintopmain;
        background-image: url(../../multimedia/campeones/5ferrari.webp);
        @include asideGeneral (map-get($colores, colorAside ) , 870px , repeat-y , cover, center);
    }

    // CUESTIONARIO
    .asideCuestionario{
        margin-top: $margintopmain;
        background-image:  url(../../multimedia/cuestionario/2cuestionario.webp);
        @include asideGeneral (map-get($colores, colorAside ) , $alturaCuestionario1111 , repeat-y , contain, top);
    }
}