// responsive  en todo dispositivo

.pie{
    height: fit-content;
    font-family: map-get($fuentes, fuenteBlankSolid ) , sans-serif;
    color: black;
    background-color: grey;
    .map{
        margin-top: 5px;
        height: auto;
        width: 75%;
    }
    .epigrafe{
        padding: 5px;
        font-size: 16px;
    }
    .textoFooter{
        padding: 2px;
        font-size: 17px;
        text-align: center;
        // border: red 2px solid;
    }
    .logosEscuderias{
        margin-top: 5px;
        height: 160px;
        width: auto;
    }
}


// ver condicionales.scss para .logosEscuderias