// responsive  en todo dispositivo

.pie{
    margin: 0;
    padding: 0;
    height: fit-content;
    background-color: grey;
    font-family: map-get($fuentes, fuenteBlankSolid ) , sans-serif;
    padding: 8px;
    color: black;
    // border: green 2px solid;
    .map{
        height: auto;
        width: 75%;
    }
    .epigrafe{
        padding: 5px;
        font-size: 16px;
    }
    .textoFooter{
        padding: 2px;
        font-size: 17px;
        text-align: center;
        // border: red 2px solid;
    }
    .logosEscuderias{
        height: 160px;
        width: auto;
    }
}

// ver condicionales.scss para .logosEscuderias